<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<properties>
		<property name="SERVER_NAME">conn</property>
		<property name="LOG_HOME">E:\\log</property>
		<property name="BACKUP_HOME">E:\\log\\back</property>
	</properties>
	<Appenders>
		<File name="FILE" fileName="${LOG_HOME}\\${SERVER_NAME}_logfile.log"
			append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		<!-- %d{yyyy-MM-dd HH:mm:ss} | -->
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p | (%F:%L) - %m%n" />
		</Console>
		<RollingRandomAccessFile name="all_message_log"
			fileName="${LOG_HOME}\\${SERVER_NAME}_all_message_monitor.log"
			filePattern="${LOG_HOME}\\${SERVER_NAME}_all_message_monitor.%d{yyyy-MM-dd-HH}.log">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="64 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1024" />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="send_message_log"
			fileName="${LOG_HOME}\\${SERVER_NAME}_send_message_monitor.log"
			filePattern="${LOG_HOME}\\${SERVER_NAME}_send_message_monitor.%d{yyyy-MM-dd-HH}.log">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="64 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1024" />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="revice_message_log"
			fileName="${LOG_HOME}\\${SERVER_NAME}_revice_message_monitor.log"
			filePattern="${LOG_HOME}\\${SERVER_NAME}_revice_message_monitor.%d{yyyy-MM-dd-HH}.log">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			s
			<Policies>
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="64 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1024" />
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework.amqp.rabbit" level="INFO"></Logger>
		<!-- <Logger name="com.idata.mq.mdm.service" level="debug" -->
		<!-- additivity="false"> -->
		<!-- <AppenderRef ref="send_message_log" /> -->
		<!-- </Logger> -->
		<Root level="info">
			<AppenderRef ref="STDOUT" />
			<!-- <AppenderRef ref="FILE" /> -->
			<!-- <AppenderRef ref="async_all_message_log" /> -->
		</Root>
	</Loggers>
</Configuration>